<ion-view view-title="Events">
    <ion-content>
        <div class="admin-settings">
            <a href="#/tab/edit-event" class="add"><i class="ion-ios-plus"></i></a>
            <ul class="list">
                <li class="item"><a href="#/tab/edit-event?id=12">event1</a></li>
                <li class="item"><a href="#/tab/edit-event?id=12">event1</a></li>
                <li class="item"><a href="#/tab/edit-event?id=12">event1</a></li>
                <li class="item"><a href="#/tab/edit-event?id=12">event1</a></li>
                <li class="item"><a href="#/tab/edit-event?id=12">event1</a></li>
                <li class="item"><a href="#/tab/edit-event?id=12">event1</a></li>
                <li class="item"><a href="#/tab/edit-event?id=12">event1</a></li>
                <li class="item"><a href="#/tab/edit-event?id=12">event1</a></li>

            </ul>
        </div>
    </ion-content>
</ion-view>
