<ion-view view-title="User Detail">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-left">
        <i class="icon ion-email"></i> someone@gmail.com
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-ios-telephone-outline"></i> 0527891234
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-ios-person"></i> Ore L
      </ion-item>
      <ion-item class="item-divider">Payments</ion-item>
      <ion-item class="item-input">
        <label class="input-label">Number of Entrances</label>
        <input type="number" value="8" />
      </ion-item>
      <ion-item class="item-input">
        <label>
          <span class="input-label">Valid Time Frame</span>
          <input type="date" />-<input type="date" />
        </label>
      </ion-item>
      <ion-item class="item-input">
        <label class="input-label">Money Paid</label>
        <input type="number" value="5" />
      </ion-item>
      <ion-item>
        Payment Method
        <select class="item-note">
          <option>Cash</option>
          <option selected>App</option>
          <option>Other</option>
        </select>
      </ion-item>
      <ion-item class="item-input">
        <label class="input-label">Number of entrances left</label>
        <input type="number" value="5" />
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
