<ion-view view-title="Events">
    <ion-content>
        <div class="admin-settings">
            <a href="#/tab/edit-event" class="add"><i class="ion-ios-plus"></i></a>
            <ion-list>
                <ion-item ng-repeat="(key, value) in events" >
                    <a href="#/tab/edit-event?id={{value.id}}">
                        <div class="event-wrap">
                            <div class="event-info">
                                <div>{{value.title}}, {{value.date | date : dd/MM}}</div>
                                <div>{{value.location}}</div>
                            </div>
                            <i class="ion-trash-b" ng-click="delete(value.id)"></i>
                        </div>
                    </a>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
