<ion-view view-title="Event Settings">
    <ion-content>
        <div class="event-settings">
            <ul class="list">
                <li class="item">
                    <label>Event Name</label>
                    <input/>
                </li>
                <li class="item">
                    <label>When</label>
                    <label class="item item-input">
                        <input type="date">
                    </label>
                </li>
                <li class="item">
                    <label>Time</label>
                    <label class="item item-input">
                        <input type="time">
                    </label>
                </li>
                <li class="item">
                    <label>Description</label>
                    <input/>
                </li>
                <li class="item">
                    <label>Location</label>
                    <input/>
                </li>
                <li class="item">
                    <label>Don't allow cancel registration</label>
                    <input/>
                </li>
                <li class="item">
                    <label>Max number of people</label>
                    <input type="number"/>
                </li>
                <li class="item">
                    <label>Min number of people</label>
                    <input type="number"/>
                </li>
            </ul>
            <button class="button button-small button button-balanced">Save</button>
        </div>
    </ion-content>
</ion-view>

