<ion-view view-title="Event Settings">
    <ion-content>
        <div class="admin-settings">
            <ul class="list">
                <li class="item">
                    <label>Event Name</label>
                    <input ng-model="event.title"/>
                </li>
                <li class="item">
                    <label>When</label>
                    <label class="item item-input">
                        <input type="date" ng-model="event.date">
                    </label>
                </li>
                <li class="item">
                    <label>Time</label>
                    <label class="item item-input">
                        <input type="time" ng-model="event.date">
                    </label>
                </li>
                <li class="item">
                    <label>Description</label>
                    <input ng-model="event.description"/>
                </li>
                <li class="item">
                    <label>Location</label>
                    <input ng-model="event.location"/>
                </li>
                <li class="item">
                    <label>Don't allow cancel registration</label>
                    <input type="number" ng-model="event.hours_before_cant_regret"/>
                </li>
                <li class="item">
                    <label>Max number of people</label>
                    <input ng-model="event.max_persons" type="number"/>
                </li>
                <li ng-if="users.length" class="item">
                    <label>users [{{users.length}}]</label>
                    <ul class="list">
                        <li ng-repeat="user in users">{{user.name}}</li>
                    </ul>
                </li>
            </ul>
            <button ng-click="save(event)" class="button button-block button-balanced">Save</button>
        </div>
    </ion-content>
</ion-view>

