<ion-view view-title="Welcome">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="Tamar">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Karlinsky">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="tamark@ironsrc.com">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="tel" placeholder="054-1192284">
      </label>
    </div>
    <a href="#/tab/my-events" class="button button-block button-positive">Done</a>
  </ion-content>
</ion-view>
