<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
      <!--<ion-toggle ng-model="settings.enableFriends">
        Enable Friends
      </ion-toggle>-->
      <ion-item class="item-divider">
        Personal Information
      </ion-item>
      <ion-item>
        tamark@ironsrc.com
      </ion-item>
      <ion-item>
        Tamar Karlinsky
      </ion-item>
      <ion-item>
        05458222000
      </ion-item>
      <ion-item class="item-divider">
        Account Information
      </ion-item>
      <ion-item>
        Total: 8, valid until 28/11/2016
      </ion-item>
      <ion-item class="item-divider">
        Account History
      </ion-item>
      <ion-item>
        Pilates, Thursday, 12/11/2016, 19:15
      </ion-item>
      <ion-item>
        Pilates, Thursday, 12/11/2016, 19:15
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
