<ion-view view-title="IS Pilates">
  <ion-content>
    <div class="events">
      <h2>Entrances left <br>7/8</h2>
      <h4>Valid until 28/11 2016</h4>


      <div class="options">
        <span>
          <i class="ion-clipboard"></i>
          My Events
        </span>
        <span>
          <i class="ion-calendar"></i>
          All Events
        </span>
      </div>


      <ul class="list">
        <li class="item">
          <div>
            <div>Pilates, Sunday, 11/11/16, 19:15</div>
            <div>Floor 21, Ofri</div>
          </div>
          <button class="button button-small cancel-disabled">Cancel</button>
        </li>
        <li class="item">
          <div>
            <div>Pilates, Sunday, 11/11/16, 19:15</div>
            <div>Floor 21, Ofri</div>
          </div>
          <button class="button button-small button button-assertive">Cancel</button>
        </li>
        <li class="item">
          <div>
            <div>Pilates, Sunday, 11/11/16, 19:15</div>
            <div>Floor 21, Ofri</div>
          </div>
          <button class="button button-small button button-balanced">Register</button>
        </li>
        <li class="item">
          <div>
            <div>Pilates, Sunday, 11/11/16, 19:15</div>
            <div>Floor 21, Ofri</div>
          </div>
         <span class="full">Full</span>
        </li>
        <li class="item">
          <div>
            <div>Pilates, Sunday, 11/11/16, 19:15</div>
            <div>Floor 21, Ofri</div>
          </div>
          <span class="full">Full</span>
        </li>
        <li class="item">
          <div>
            <div>Pilates, Sunday, 11/11/16, 19:15</div>
            <div>Floor 21, Ofri</div>
          </div>
          <span class="full">Full</span>
        </li>
        <li class="item">
          <div>
            <div>Pilates, Sunday, 11/11/16, 19:15</div>
            <div>Floor 21, Ofri</div>
          </div>
          <span class="full">Full</span>
        </li>
        <li class="item">
          <div>
            <div>Pilates, Sunday, 11/11/16, 19:15</div>
            <div>Floor 21, Ofri</div>
          </div>
          <span class="full">Full</span>
        </li>
        <li class="item">
          <div>
            <div>Pilates, Sunday, 11/11/16, 19:15</div>
            <div>Floor 21, Ofri</div>
          </div>
          <span class="full">Full</span>
        </li>
        <li class="item">
          <div>
            <div>Pilates, Sunday, 11/11/16, 19:15</div>
            <div>Floor 21, Ofri</div>
          </div>
          <span class="full">Full</span>
        </li>
        <li class="item">
          <div>
            <div>Pilates, Sunday, 11/11/16, 19:15</div>
            <div>Floor 21, Ofri</div>
          </div>
          <span class="full">Full</span>
        </li>
      </ul>

    </div>
  </ion-content>
</ion-view>


<!--
  <h1>Entrance left 7/8</h1>-->










