<ion-view view-title="My Info">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="logout()">
      Logout
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-divider">
        Personal Information
      </ion-item>
      <ion-item>
        {{user.email}}
      </ion-item>
      <ion-item>
       {{user.name}}
      </ion-item>
      <ion-item>
        {{user.phone}}
      </ion-item>
      <ion-item class="item-divider">
        Account Information
      </ion-item>
      <ion-item>
        Total: {{user.events_left}}, valid until 28/11/2016
      </ion-item>
      <ion-item class="item-divider">
        Account History
      </ion-item>
      <ion-item ng-repeat="event in user.events">
        {{event.title}},  {{event.date}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
