<ion-view view-title="IS Pilates">
  <ion-content>
    <div class="events">
      <h2>Entrances left <br>7/8</h2>
      <h4>Valid until 28/11 2016</h4>

      <div class="options">
        <span>
          <i class="ion-clipboard"></i>
          My Events
        </span>
        <span>
          <i class="ion-calendar"></i>
          All Events
        </span>
      </div>
     <button ng-click="addEvent()">Add events</button>

      <ul class="list">
        <li class="item" ng-repeat="event in events" class="item">
          <div>
            <div>{{ event.title}},{{ event.timestamp}}</div>
            <div>{{ event.location}}</div>
          </div>
          <button ng-if="true" class="button button-small cancel-disabled">Cancel</button>
          <button ng-if="false" class="button button-small button button-balanced">Register</button>
          <span ng-if="false" class="full">Full</span>
        </li>
      </ul>

    </div>
  </ion-content>
</ion-view>


<!--
  <h1>Entrance left 7/8</h1>-->










