<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-only tabs-striped tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="My Events" icon-off="ion-calendar" icon-on="ion-calendar" href="#/tab/my-events">
    <ion-nav-view name="tab-my-events"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Settings" icon-off="ion-person" icon-on="ion-person" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Admin Settings" icon-off="ion-settings" icon-on="ion-settings" href="#/tab/admin-settings">
    <ion-nav-view name="tab-admin-settings"></ion-nav-view>
  </ion-tab>
</ion-tabs>
