.admin-settings {
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
    color: #444;
  }
  .add {
    font-size: 26px;
    text-align: center;
  }
  label {
    display: block;
  }
  input {
    width: 100%;
  }
  .event-wrap {
    display: flex;
    .event-info{
      width: calc(100% - 15px);
      div{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .ion-trash-b{
      font-size: 22px;
    }
  }
}

.user-settings {
  input {
    text-align: right;
    margin-left: auto;
  }
}

.justify-form-row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.justify-form-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
