.admin-settings {
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
    color: #444;
  }
  .add {
    font-size: 26px;
    text-align: center;
  }
  label {
    display: block;
  }
  input {
    width:100%;
  }
}