ion-view[state="login"],
ion-view[state="sign-up"] {
  .button.button-positive {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .button.button-light {
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
  }

  .error {
    padding: 0 10px;
  }
}

